streamlit>=1.24.0
pandas>=1.5.3
plotly>=5.13.1
openpyxl>=3.1.2
pillow>=9.5.0
python-dateutil>=2.8.2
pytz>=2023.3
requests>=2.31.0
six>=1.16.0
tenacity>=8.2.2
typing_extensions>=4.5.0
tzdata>=2023.3
tzlocal>=5.0.1
validators>=0.20.0
watchdog>=3.0.0
zipp>=3.15.0